/* Hide the audio button */
.unmute::-webkit-media-controls-mute-button {
    display: none;
    }
.unmute2::-webkit-media-controls-volume-slider {
    display: none;
    }

video:hover{
        transform:scale(1.05);
        
    }

.myvideo {
    border-radius: 20px;
    padding: 5px;
    width: auto;
    height: 150px;
}

.navigator{
    -webkit-columns: 2; /* Number of columns */
    -moz-columns: 2;
    columns: 5;
  }

  .hover-element {
    margin-left: 10px;
    height: 15px;
    visibility: hidden;
    cursor: pointer;
    /* Add other styles as per your requirements */
  }
  
  li:hover .hover-element {
    visibility: visible;
    /* Add other styles you want to apply on hover */
  }
  
  
